main{
    background-color: #D8D8D8;
}

.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: rgb(0, 0, 0);
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #6f8f36;
    text-decoration: none;
}

.navbar .navbar-brand {
    width: 300px;
    height: auto;
    
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 1200px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
    .nav-item{
        justify-items: right;
    }
}





header {
    min-height: 110vh;
    background-image: url(../img/startbild.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -10px 0px 0px -250px;
}
